<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookish World</title>

    <style>
        #Cover {
            height:300px;
            width: 800px;
        }

        .box
        {
            color: brown;
            background-color: burlywood;
            
        }

        .box1
        {
            color: red;
        }



    </style>

</head>
<body>

    

    <div class="box" style="display: block; text-align: center;" >

        <h1>WELCOME TO THE BOOKISH WORLD</h1>
        
    </div>

    <div>
        <p>
           <strong>Hello BOOKISH People!</strong> <br>
           <p>Books are considered as the best friends of students in a real sense, and it is said that they are also the best companions of students. They play a significant role in Student’s life. Books give plenty of joy to students, and they learn a lot of things from books. They take them into a unique world of imagination and improve their standard of living.<br>
           Books help to inspire students to do hard work with courage and hope. They enrich the experience of students and sharpen their intellect. There are many benefits of Reading books; students will get more knowledge, improve memory and build more vocabulary.</p>
        </p>

        <p><strong> ARE YOU  READY TO DIVE INTO THE BOOK WORLD?</strong></p>
        <div >

        <p>
            <strong> WHAT ARE YOU WAITING FOR?????</strong> <br>
           
        </p>
    </div >

    <div class="box1">

    <p>Go to this link and pick your favourite one!</p><br>
    

</div>

    



    </div>

    <a href="/books">Next</a>
    
</body>
</html>