<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookCard</title>
</head>
<style>
    .Container {
        display: flex;

        display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(2,2fr);
            grid-column-gap: 1rem;
            grid-row-gap: 1rem ;
    }

    .card {
        padding: 23px 12px;
        margin: 23px 12 px;
        background-color: burlywood;
        box-shadow: 10px 7px brown;
    }
</style>

<body>
    <div class="Container">
        <div class="card" id="car-1">
            <h1>The Godfather</h1>
            <p> <i>
                <strong>Godfather </i></strong>is a crime novel by American author Mario Puzo. Originally published in 1969 by G. P.
                Putnam's Sons, the novel details the story of a fictional Mafia family in New York City (and Long Beach,
                New York), headed by Vito Corleone. Puzo's dedication for The Godfather is "For Anthony Cleri". The
                novel's epigraph is by the French author Honoré de Balzac: "Behind every great fortune there is a
                crime." The novel covers the years 1945 to 1955 and provides the back story of Vito Corleone from early
                childhood to adulthood.</p>

        </div>
        <div class="card" id="car-2">
            <h1>Harry Poter </h1>
            <p>
               <i><strong> Harry Potter</strong></i> is a series of seven fantasy novels written by British author J. K. Rowling. The novels
                chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley,
                all of whom are students at Hogwarts School of Witchcraft and Wizardry. The main story arc concerns
                Harry's struggle against Lord Voldemort, a dark wizard who intends to become immortal, overthrow the
                wizard governing body known as the Ministry of Magic and subjugate all wizards and Muggles (non-magical
                people).
            </p>
        </div>
        <div class="card" id="car-3">
            <h1>Lolita</h1>
            <p> <i><strong>Lolita </strong> </i>is a 1955 novel written by Russian-American novelist Vladimir Nabokov. The novel is notable for
                its controversial subject: the protagonist and unreliable narrator, a middle-aged literature professor
                under the pseudonym Humbert Humbert, is obsessed with a 12-year-old girl, Dolores Haze, with whom he
                becomes sexually involved after he becomes her stepfather. "Lolita" is his private nickname for Dolores.
                The novel was originally written in English and first published in Paris in 1955 by Olympia Press. Later
                it was translated into Russian by Nabokov himself and published in New York City in 1967 by Phaedra
                Publishers.</p>
        </div>
        <div class="card" id="car-4">
            <h1>Outsider</h1>
            <p>
                The novel <i><strong>Outsider</strong></i> tells the story of Ponyboy Curtis and his struggles with right and wrong in a society in which
                he believes that he is an outsider. Ponyboy and his two brothers — Darrel (Darry), who is 20, and
                Sodapop, who is 16 — have recently lost their parents in an automobile accident.
            </p>
        </div>
        <div class="card" id="car-5">
            <h1>Origin</h1>
            <p>
                <i><strong> Origin</strong></i> is a 2017 mystery thriller novel by American author Dan Brown and the fifth installment in his
                Robert Langdon series, following Inferno. The book was released on October 3, 2017 by Doubleday. The
                book is predominantly set in Spain and features minor sections in Sharjah and Budapest.
            </p>
        </div>
        <div class="card" id="car-6">
            <h1>The old man and the sea </h1>
            <p>
                <i><strong>The Old Man and the Sea </strong></i>is a short novel written by the American author Ernest Hemingway in 1951 in Cayo
                Blanco (Cuba), and published in 1952.[1] It was the last major work of fiction written by Hemingway that
                was published during his lifetime. One of his most famous works, it tells the story of Santiago, an
                aging Cuban fisherman who struggles with a giant marlin far out in the Gulf Stream off the coast of
                Cuba.[2]
            </p>
        </div>

    </div>

</body>

</html>