<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Page</title>
</head>
<body>
    <h1 style="color:brown; margin:50px 40% 50px">Book Page</h1>
    
    <div style="margin: 90px 20% 90px">
    <form action="/submit" method="get">
        <P>Enter price of the book</P><br>
        <input type="number" name="SL"><br>
        <p>Enter the service charge</p>
        <input type="number" name="SW"><br>
        <input type="submit" value="Submit">
    </form>
</div>
 <h1>Result:{{name}}</h1>
 <a href="/about">Bookish</a>
 
</body>
</html>